# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# Lambda build artifacts
lambdas/ingestion/package/
lambdas/api/package/
*.zip

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env

# Local preview
frontend/preview.html
frontend/app.preview.js
frontend/app.deploy.js

# Project notes
project-overview.md
Project Challenge_ Stocks Serverless Pipeline (3).pdf
